@media only screen and (max-width: 640px) {}

@media only screen and (max-width: 768px) {
    header {
        height: 72px;
        padding: 0px 10px 0px 10px;
    }

    .box-navigation>ul {
        display: none;
    }

    .btn-header-mobile {
        display: flex;
    }
}

@media only screen and (max-width: 1050px) {

    .box-navigation>ul {
        gap: 28px;
        padding-left: 28px;
    }

    .btn-log {
        display: none;

    }

    .btn-sin {
        display: none;
    }

    .box-user-header {
        display: flex;
    }
}

@media only screen and (max-width: 1280px) {}